


<%@venues.each do |venue|%>
	<%= venue.name%><br>
	<%venue.events.each do |event|%>
		<%=event.special%><br>
		<p>submitted by: <%= @users.select {|user| event.user_id == user.id}.first.fullname%><br>
		varified by: <%=@users.select {|user|  event.varified_user == user.id}.first.fullname%></p><br>
		<br>
	<%end%>
	<br>
<%end%> 