<div>
        <div >
          <div id = 'claim-dislike-<%=Claim.find(@claim_id)%>'>
				          <%= render partial: 'claims/claim_downvote' %>
            </div>
        </div>
        <div class="like-number" id='claim-down<%=@claim_id%>'>
            <%= Claim.find(@claim_id).get_dislikes.size%>
        </div>
    </div>