<div id="key-fixed">
<div class="key-color">
            <div style="display:block;margin-top:6px;">
                <div class="later-tab" style=
                "position: inherit; width: 45px; display:inline-block;background-color:#bdbdbd">
                Past
                </div>


                <div class="now-tab" style=
                "position: inherit; width: 45px; display:inline-block;">
                    Now
                </div>


                <div class="later-tab" style=
                "position: inherit; width: 45px; display:inline-block;">
                    Later
                </div>
            </div>


            <div class="search-tab-btn">
                <div class="click-open-search">
                    <i class="material-icons">search</i>
                </div>
                <%= form_tag(@neighborhood_path, :method => "get", id: "search-form") do %><!-- text field tag=action,args,identifier,placeholdertext... -->
                <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search Specials", type: "search", data: {autocomplete: @autocomplete_path} %>

                <div class="search-btn">
                    <%= submit_tag "Search" %>
                </div>
                <%end%>
                <script charset="utf-8" type="text/javascript">
                $('#search').bind('railsAutocomplete.select', function(event, data){
                $('#search-form').submit()
                });
                </script> <%= link_to "clear", @neighborhood_path%>
            </div>
            <script>

            $( ".click-open-search" ).click(function() {
            $( ".search-tab-btn" ).toggleClass( "slide-out-search" );
            });

            </script>
        </div>
</div>


<script>
  $(document).ready(function() {

  $(window).scroll(function () {
      //if you hard code, then use console
      //.log to determine when you want the
      //nav bar to stick.
      console.log($(window).scrollTop())
    if ($(window).scrollTop() > 194) {
      $('#key-fixed').addClass('navbar-fixed2');
    }
    if ($(window).scrollTop() < 194) {
      $('#key-fixed').removeClass('navbar-fixed2');
    }
  });
});
</script>