<footer class="page-footer" style = "background-color:black;">
   <div class="container">
      <div class="row">
         <div class=" s12">
            <h5 class="white-text flow-text">Hours was made by members of the service industry for the service industry and for those who love it!</h5>
            <!--<h3 class="white-text flow-text">Contact: troyacox@gmail.com</h3>-->
         </div>
      </div>
   </div>
   <!-- <div class="container">
      <div class="row">
       <div class="col s1">
         <%= image_tag "clear_logo.png"%>
       </div>
       </div>
      </div>-->
   <div class="footer-copyright">
      <div class="container">
         © 2016 Gathr Group, llc.
      </div>
   </div>
</footer>