
<footer class="page-footer" style = "background-color:black;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text flow-text">Hours was made by members of the service industry for the service industry and for those who love it!</h5><br/>
                <div class="fb-like" data-colorscheme="dark" data-href="https://facebook.com/hourspgh/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

              </div>
              <div class="col l4 offset-l2 s12"><br/>

                <ul>
                  <li><%= link_to 'About Us', about_us_path, class: "teal-text text-accent-4"%></li>
                  <li><a class="teal-text text-accent-4" href="http://pittsburgh.urbanistguide.com/about/"target="_blank">About Urbanist</a></li>
                  
                  <!--<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/hourspgh/">Facebook</a></li>
<!--                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/hourspgh/">Instagram</a></li>
                   <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/hourspgh/">Contact Us</a></li>-->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Gathr Group, llc.
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>