<%=link_to event_verified_event_path(@d), method: :get, remote: true, id: "verified#{@d.id}" do%>
	<div class = "valign-wrapper"><p>Verify</p><i class="tiny material-icons" style="opacity:0.9">update</i></div>
<%end%>