<%=link_to event_verified_event_path(@d), method: :get, remote: true, data: { confirm: 'Are you sure you want to verify this Hour?' } ,id: "verified#{@d.id}" do%>
	<div class = "valign-wrapper">
	   
	    <i class="tiny material-icons" style="opacity:0.9">update</i>
	     <p>Verify</p>
	     </div>
<%end%>