
<div class="row">
  <div class="col s12 m6">
    <h5>Have a restaurant or bar in the Pittsburgh area? Contact us here to claim your profile page.</h5>
  </div>
    <form class="col s12 m6" action="mailto:kevinhein819@gmail.com" method="post" enctype="text/plain">
    <!--<div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div> -->
      <div class="row">
        <div class="input-field col s12">
          <input id="venue_name" name="VenueName" type="text" class="validate">
          <label for="venue_name">Venue Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="venue_address" name="VenueAddress" type="text" class="validate">
          <label for="venue_address">Venue Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
       <button class="btn waves-effect waves-light" type="submit" name="action" value="Send">Submit
                  <i class="mdi-content-send right"></i>
                </button>
    </form>
  </div>



   <p>Gathr Group is the spawn of the wiley minds of Kevin Hein and Troy Cox. Gathr Group is dedicated to helping people socialize and engage while exploring everything Pittsburgh has to offer.<br>

HoursPGH is their first project with this aim. Focused on the service industry, HoursPGH is meant to be a centralized place where people who live in Pittsburgh and those who are visiting can find the best happy hours and daily specials Pittsburgh has to offer. HoursPGH is also about providing a platform for restaurants to highlight and promote off-menu features so nobody misses out on restaurants going above and beyond to please. Because #FoodPorn.<br>

 We hope to make the experience different from what you have seen before where information is outdated and incorrect by providing restaurants with control of their own profile so they are able to update the information in real-time providing you with the most up to date information possible. You want to know what is going on at these venues. They want you to know what’s going on. We JUST WANT TO GIVE THE PEOPLE WHAT THEY WANT!<br>

No longer will you have to read/memorize the endless blackboards and posters throughout the city. Explore restaurants you haven’t been before, meet new people, show visitors why Pittsburgh is one of the greatest cities in the world! </p>


