<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align">Editing Hour</h2>
     </div>
</div>

<div class="card">
	<div class="card-content">
		<%= render 'edit_form' %>
	</div>
</div>

<div class="hide">
<%= link_to 'Show', @event %> |
<%= link_to 'Back', Venue.where(owner: current_user.id).first %>
<%= link_to 'Back', Venue.where(owner: current_user.id).first %>
</div>
  
