<h1 class = "flow-text center">Editing Hour</h1>

<div class="card">
	<div class="card-content">
		<%= render 'form' %>
	</div>
</div>
<!--
<%= link_to 'Show', @event %> |
<%= link_to 'Back', Venue.where(owner: current_user.id).first %>
<%= link_to 'Back', Venue.where(owner: current_user.id).first %>
