<div class="container" style="background-color:#eee;">
<div class="combined-hours">
<%venues = Venue.includes(:events).all.to_a %> 
<%events = Event.all.to_a%>
<%@events = events%>
<%@users = User.all.to_a%>
<%@claims_all = []%>
<%special_count = 0%>

<%venues.each_slice(3) do |venue| %>
	
	<%venue.each do |venue_list| %>	
	<%@venue_ids = [venue_list.id]%>
		<%=render partial: "shared/first_batch_new"%>
	<%end%>
		<%@daily_specials = DailySpecial.all.to_a%>
		<%=render "first_special_batch_now"%>
		<%venues = venues.drop(2)%>
		<%special_count = special_count + 1 %>
	
<%end%>
</div>
</div>

