<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align">New Event</h2>
     </div>
</div>

<%= render 'form' %>

<div class="fixed-action-btn back-button">
<%= link_to 'Back', events_path, class: "waves-effect waves-light btn" %>
</div>
