<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align">New Event</h2>
     </div>
</div>

<%= render 'form' %>

<div class="fixed-action-btn back-button">
<%= link_to 'Back', Venue.where(id: @event.venue_id).first, class: "waves-effect waves-light btn", 'data-no-turbolink' => true  %>
</div>
