<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align">Editing Feature</h2>
     </div>
</div>
<div class="form-padding">
<%= render 'form' %>
</div>
<div class = "hide">
<%= link_to 'Show', @daily_special %> |
<%= link_to 'Back', daily_specials_path %>
</div>
