
<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align">New Feature</h2>
     </div>
</div>

<div class="form-padding">
<%= render 'form' %>
</div>

<div class="fixed-action-btn back-button">
<%= link_to "Back", @back_url, 'data-no-turbolink' => true %>
</div>