<h1>Editing Beer</h1>

<%= render 'edit_form' %>

<!--<%= link_to 'Show', @beer %> |-->
<br>
<%= link_to "Back", venue_beer_list_path, 'data-no-turbolink' => true, class: "waves-effect waves-light btn menubtn" %>

