<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body class="mailpiece">

    <div class="mailheader">
      <div class="mailheader-header">
      <img src="http://i.imgur.com/sMcqJ6D.png" class="mailheader-logo"/>
      </div>
      <div class="mailheader-content">
    
 <h5 class="detailonshow mailtit" style="font-weight:bold;">Welcome to HoursPGH!</h5><br/>
 <p class="detailonshow mailtit" style="font-weight:bold;">Hey! We wanted to welcome you to the HoursPGH community and tell you a little but about us and why we are so excited that you joined!  
</p><br>
<span class="card-title activator">History</span><br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
HoursPGH.com was founded by Troy Cox and Kevin Hein in 2016 as a fun web project to help restaurants promote their happy hours in real-time so they would know about them.  They wanted to be able to take virtual walks around the neighborhood and see what everyone was offering. The founders were inspired from the feedback they received to take the project further instead of focusing on just Happy Hours, they decided they would include the many other weekly offerings including live music, games, feature dishes, etc. and call them Hours. They wanted to allow users to build a profile of their favorite Hours so they could be reminded of whats going on everyday. If they were aware of a Hour that was not posted they could post it themselves helping to build the HoursPGH community. Now all they want to know is WHAT ARE YOUR FAVORITE HOURS?</p><br/>
<br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
  We understand and enjoy the fact that this is only going to be possible if we work together as a community and we built hourspgh to help make that collaboration as easy as possible. As community members participate by saving Hours  to their profile and verifying that specials are accurate they will gain points/trust giving them the ability to participate in more powerful ways such as adding Hours  without having them reviewed, or taking down promotions that are no longer accurate, while also being recognized for their contributions.  
</p><br/>

<p class="detailonshow mailtit" style="font-weight:bold;">
 We want to thank you for joining the HoursPGH community and would like your feedback on anything we could do to make HoursPGH better! You can email us at hourspgh@gmail.com or message us on Facebook @hourspgh.
</p><br/>
<span class="card-title activator">HoursPGH Team</span><br/>
      </div>
 </div>
 
 
  </body>
</html>