<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body class="mailpiece">

    <div class="mailheader">
      <div class="mailheader-header">
      <img src="http://i.imgur.com/sMcqJ6D.png" class="mailheader-logo"/>
      
      
       <h5 class="detailonshow mailtit" style="font-weight:bold; text-align:center; color:#fff;">Welcome to HoursPGH!</h5><br/>
 <p class="detailonshow mailtit" style="font-weight:bold; text-align:center; color:#fff;">Hey! We wanted to welcome you to the HoursPGH community and tell you a little bit about us and why we are so excited that you joined!  
</p>

    <a href="http://www.hourspgh.com/" class="emailbtn-cta">Explore all Hours</a>

</div>

      <div class="mailheader-content">
        <div class="full-email-set">
            <img src="http://i.imgur.com/mXu7BqP.jpg" class="center-side"/>
            <h5 class="headline-center">1.Virtual blackboards</h5>
              <p class="ptags-center">Explore the neighborhood’s virtual blackboards and see what everyone is offering.</p>
        </div>
        <div class="full-email-set">
            <img src="http://i.imgur.com/gjlS3Ef.jpg" class="center-side"/>
            <h5 class="headline-center">2. Explore the features</h5>
            <p class="ptags-center">Check out each venues weekly offerings including live music, games, feature dishes, etc.</p>
        </div>
        <div class="full-email-set">
            <img src="http://i.imgur.com/th1cTH7.jpg" class="center-side"/>
            <h5 class="headline-center">3. Build your profile.</h5>
              <p class="ptags-center">Build a profile of your favorite Hours so you can be reminded of whats going on everyday.</p>
        </div>
        <div class="full-email-set">
            <img src="http://i.imgur.com/QVUSj6I.jpg" class="center-side"/>
            <h5 class="headline-center">4. Post a Happy Hour</h5>
              <p class="ptags-center"> If your’re aware of an Hour that is not posted that you would like to add to your profile you can post it yourself and help build the HoursPGH community.</p>
        </div>
        
        <hr>
        
        <p class="emailpleftalign">
           The HoursPGH team is determined to make it as easy as possible for you to know about all of the great hours being offered by restaurants and bar across Pittsburgh. We understand and enjoy the fact that this is only going to be possible if we work together as a community and we built HoursPGH to make that collaboration as easyb as possible. As community members participate by saving Hours to their profile and verifying that specials are accurate they will gain points/trust giving them the ability to participate in more powerful ways such as adding Hours without having them reviewed, or taking down promotions that are no longer accurate, while also being recognized for their contributions.
<br><br>
We want to thank you for joining the HoursPGH community and would like your feedback on anything we could do to make HoursPGH better! You can email us at hourspgh@gmail.com or message us on Facebook @hourspgh. App coming soon! 
        </p>
      </div>
 </div>
 
 
  </body>
</html>