<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body class="mailpiece">

    <div class="mailheader">
      <div class="mailheader-header">
      <img src="http://i.imgur.com/sMcqJ6D.png" class="mailheader-logo"/>
      </div>
      <div class="mailheader-content">
    
 <h5 class="detailonshow mailtit" style="font-weight:bold;">Welcome to HoursPGH</h5><br/>
 <p class="detailonshow mailtit" style="font-weight:bold;">Hey (name)! We wanted to welcome you to the HoursPGH community and tell you about some of the great benefits of being a member of the community and to also tell you about some of great benefits we hope to offer you in the near future! 
</p><br>
<span class="card-title activator">Save Hours</span><br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
As member of the HoursPGH community you can save specific happy hours by liking them. Now you will have a profile of all of you favorite specials and have immediate access to them everyday of the week.</p><br/>
<span class="card-title activator">Reminded of Saved Hours</span><br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
  We will also be reminding of the hours you have saved so you don't forget to take advantage of them. We know everyone has a lot going on and can use a memory kick every now and then. 
</p><br/>
<span class="card-title activator">Notified when hours are changed</span><br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
 We will also notify you when one of your favorite specials has changed or is not longer available. 
</p><br/>
<span class="card-title activator">Vote On Happy Hours</span><br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
 We are working with some of our partners to provide members with the ability to vote for exclusive happy hours. HoursPGH is about connecting patrons who love hours with the best happy hours in the city. Soon the HoursPGH community will be about helping to create the best happy hours in the city! 
</p><br/>
<span class="card-title activator">Mobile App</span><br/>
<p class="detailonshow mailtit" style="font-weight:bold;">
 Soon we hope to provide the HoursPGH community with a mobile app so we can provide you with even more information and features to make finding the best happy hours and feature dishes in the city even better!
 </p><br/>
 <p class="detailonshow mailtit" style="font-weight:bold;">
 We are always looking for feed back from the HoursPGH community on ways to make HoursPGH better. If you have any feedback for us please email us at hourspgh@gmail.com and we will respond as soon as we can.
</p>
      </div>
 </div>
 
 
  </body>
</html>